{%extends 'all-Here/base.html'%} 
{% block content %}
<div class="container">
 <div class="row">



  <div class="row">
    {% if projects%}
      <h1>Found {{ projects|length }} of searched term {{message}}</h1>
    {% else %}
      <h1> Found 0 articles for the search term {{message}}</h1>
    {% endif %}


    {% for image in projects %}
    <div class="col-sm-6 col-md-3">

 <img src="{{image.project.url}}">
 <h2>{{image.project_description}}</h2>
</div>
{% endfor %}

 </div>

  </div>

  
</div>
{% endblock %}